*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(header_pt.png);
    background-color: rgb(118, 33, 255);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    background-color: rgba(255, 206, 116, 0);
    width: 1900px;
    height: 900px;
    margin-left: -300px;

}

header{
    background-color: rgba(255, 255, 138, 0);
    color:aliceblue;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center; /* alinha verticalmente */
    justify-content: space-evenly;
    font-size: larger;
}

.container{
    background-color: rgba(104, 255, 104, 0);
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer{
    background-color: rgba(255, 255, 138, 0);
    width: 100%;
    height: 150px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    width: 100px;
    height: 90%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    border-radius: 20px;
   
}

nav{
    background-color: rgba(255, 255, 255, 0);
    width: 550px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20PX;
}

li{
   text-transform: uppercase;
   background-color: rgba(104, 255, 104, 0);
   width: 90px;
   height: 30px;
   font-size: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
}

.direita_conteudo, 
.esquerda_conteudo{
    height: 90%;
    width: 300px;
    background-color: rgba(129, 230, 255, 0) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30PX;
}

h1{
    text-transform: uppercase;
    width: 90%;
    height: 60px;
    color: rgb(251, 138, 255);
}

#player{
    width: 70px;
    border-radius: 60px;
    box-shadow: 1px 1px 5px black;
    margin-top: 20px;
    filter: invert(50%);
}

#mouse{
    width: 50px;
    margin-bottom: 15px;

}

#logo{
    width: 100%;
}

.subtitle{
    width: 90%;
    color: rgb(54, 40, 248);
}

.role{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 10px;
    
}

button{
    all: unset;
    cursor: pointer;
    outline: revert;
    z-index: 10;
    position: inherit;
  }

.rede{
    color: rgb(255, 255, 255);
}